body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle, #1c3b69 10%, #a0c4ff 5%) 0 0,
            radial-gradient(circle, #1c3b69 10%, #a0c4ff 5%) 2px 2px;
background-size: 15px 15px;
    min-height: 100vh;
   
  }